
/*suscripcion*/
label {
    display: block;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
}

*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#titulo {
    text-align: center;
    line-height: 10px;
    padding: 15px;
}

/*search*/

.h1 {
  float: right;
  display: flex;
  flex-direction: row;
  margin: 25px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
}
/*titulo*/ 
header {background-image: url(images/buque.png);
    background-size: 100%;
    
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: #EFF2F1;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    color: #EFF2F1;
}

.sus {
    color: black;
    font-size: 20px;
    line-height: 45px;

}

/*barra de navegacion*/
.nav {
    display: inline-block
    justify-content: space-evenly;
    color: #1d1d1d;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    margin: 20px;
    color: #ADD5FF;
}
    
a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
a:hover {
    text-decoration: underline;
}

/*section*/
section {
    background-color: #eff2f1;
    height: 100%;
    padding-bottom: 20px;

}

/*footer*/
.footer {
    background-color: #07284A;
    color: #eff2f1;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding: 50px;
    position: relative;
    width:100%;
    
}


/*Modelo para tablet o celular*/
@media (min-width: 568px) {
    div section footer {
        flex-direction: column;
        width: 100%;
    }
    #nav {
        flex-direction: column;
        width: 100%;
        line-height: 5px;
    }
    #titulo {
        line-height: 45px;
        margin-top: 5px;
        margin-bottom: 5px;

    }
    

}

/*seccion noticias*/
section {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.noticias {
    padding-bottom: 1cm;
}
.titulo {
    font-size: 20px;
    font-weight: bold;
}
.subtitulo {
    font-family: 'Roboto', sans-serif;
    color: gray;

}
.fecha { 
    font-size: 15px;
    color:grey;
}
p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: black;
    line-height: inherit;
}


/*logos empresas*/

.rowphoto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;


}

.logos{ 
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 250px;
    margin: 10px;

    

}